<ion-header>
  <ion-toolbar>
    <ion-title>Decryption</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="goToMapscreen()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>In further Development</ion-card-subtitle>
      <ion-card-title>Work In progress</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      In this minigame the player could load an encrypted file and have a couple of options:
    </ion-card-content>

    <ion-item href="#" class="ion-activated">
      <ion-icon name="option1" slot="start"></ion-icon>
      <ion-label>Load decrypted file</ion-label>
    </ion-item>

    <ion-item href="#" class="ion-activated">
      <ion-icon name="option2" slot="start"></ion-icon>
      <ion-label>Scan selected file for possible encryptions</ion-label>
    </ion-item>

    <ion-item href="#" class="ion-activated">
      <ion-icon name="option3" slot="start"></ion-icon>
      <ion-label>Use a sliding puzzle based on encryption to decrypt</ion-label>
    </ion-item>

  </ion-card>
</ion-content>
