<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="switchToPage('game-screen','Home')">
        <ion-icon name="people-circle-outline" slot="start"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>
      <ion-item (click)="switchToPage('friends','Friends')">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Friends</ion-label>
      </ion-item>
      <ion-item (click)="switchToPage('teams','Teams')">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-label>Teams</ion-label>
      </ion-item>
      <ion-item (click)="switchToPage('messages','Messages')">
        <ion-icon name="chatbubble-ellipses-outline" slot="start"></ion-icon>
        <ion-label>Messages</ion-label>
      </ion-item>
      <ion-item (click)="switchToPage('inventory','Inventory')">
        <ion-icon name="grid-outline" slot="start"></ion-icon>
        <ion-label>Inventory</ion-label>
      </ion-item>
      <ion-item (click)="switchToPage('settings','Settings')">
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Lobbies</ion-title>
      <span style="float: right; margin-right: 3%;" (click)="lobbyName.reloadPage()">&#x21bb;</span>

    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-card>
      <ion-button fill="clear" color="success" class="balance">
        <p> BALANCE : €{{mybalance}} <ion-button fill="solid" color="primary" style="height: 30px
        ; margin-top: -5%;" (click)="showInputField()">+</ion-button>
        </p>
      </ion-button>
    </ion-card>
    <ion-card>
      <div id="games">
        <ion-card-content *ngFor="let all of lobbies">
          <div *ngIf="all.name !== 'MadeBySuperAdmin' && all.players.length >=1">
            <span style="position: absolute; top: 80%;">{{all.name}}</span>
            <ion-button fill="outline" (click)="GoTo('map-screen',all.name)" *ngIf="all.name !=='The Flash'"> Players:
              {{all.players.length}} |
              €{{10}}
            </ion-button>
            <ion-button fill="outline" (click)="GoTo('map-screen',all.name)" *ngIf="all.name ==='The Flash'"> Players:
              {{all.players.length}} |
              €20
            </ion-button>
          </div>
        </ion-card-content>
      </div>
    </ion-card>

    <ion-fab slot="fixed" vertical="bottom" horizontal="start">
      <ion-fab-button size="larger" color="light" (click)="goBack('game-screen')">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <!-- <ion-input type="number" value="333"> -->
    <div *ngIf="showInput">
      <ion-button (click)="addMoneyToWallet(10)">
        €10
      </ion-button>
      <ion-button (click)="addMoneyToWallet(30)">
        €30
      </ion-button>
      <ion-button (click)="addMoneyToWallet(50)">
        €50
      </ion-button>
    </div>
    <div>
      <div id="myPaypalButtons">
      </div>
      <!-- <p> BALANCE : {{mybalance}}€</p> -->
    </div>



  </ion-content>
