<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="GoTo('game-screen','Home')">
        <ion-icon name="people-circle-outline" slot="start"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>
      <ion-item (click)="GoTo('friends','Friends')">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Friends</ion-label>
      </ion-item>
      <ion-item (click)="GoTo('teams','Teams')">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-label>Teams</ion-label>
      </ion-item>
      <ion-item (click)="GoTo('messages','Messages')">
        <ion-icon name="chatbubble-ellipses-outline" slot="start"></ion-icon>
        <ion-label>Messages</ion-label>
      </ion-item>
      <ion-item (click)="GoTo('inventory','Inventory')">
        <ion-icon name="grid-outline" slot="start"></ion-icon>
        <ion-label>Inventory</ion-label>
      </ion-item>
      <ion-item (click)="GoTo('settings','Settings')">
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Lobbies</ion-title>
      <span style="float: right; margin-right: 3%;" (click)="lobbyName.reloadPage()">&#x21bb;</span>

    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-card>

      <ion-card-content>
        The cybercorn
        <ion-button fill="outline" (click)="GoTo('map-screen','The cybercorn')"> Players: 12 | join</ion-button>
      </ion-card-content>

      <ion-card-content>
        Omnicronologie
        <ion-button fill="outline" (click)="GoTo('map-screen','Omnicronologie')"> Players: 7 | join</ion-button>
      </ion-card-content>

      <ion-card-content>
        Live wire
        <ion-button fill="outline" (click)="GoTo('map-screen','Live wire')"> Players: 4 | join</ion-button>
      </ion-card-content>

      <ion-card-content>
        The Fifth State
        <ion-button fill="outline" (click)="GoTo('map-screen','The Fifth State')"> Players: 22 | join</ion-button>
      </ion-card-content>

      <ion-card-content>
        Hack the City
        <ion-button fill="outline" (click)="GoTo('map-screen','Hack the City')">Players: 28 | join</ion-button>
      </ion-card-content>
      <ion-card-content>
        The Flash
        <ion-button fill="outline" (click)="GoTo('map-screen','The Flash')">Players: 28 | join</ion-button>
      </ion-card-content>

    </ion-card>

    <ion-fab slot="fixed" vertical="bottom" horizontal="start">
      <ion-fab-button size="larger" color="light" (click)="GoTo('game-screen')">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ion-content>
