<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="GoTo('game-screen')">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>
      <ion-item (click)="GoTo('lobbies')">
        <ion-icon name="people-circle-outline" slot="start"></ion-icon>
        <ion-label>Game Lobbies</ion-label>
      </ion-item>
      <ion-item (click)="GoTo('friends')">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Friends</ion-label>
      </ion-item>
      <ion-item (click)="GoTo('teams')">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-label>Teams</ion-label>
      </ion-item>
      <ion-item (click)="GoTo('messages')">
        <ion-icon name="chatbubble-ellipses-outline" slot="start"></ion-icon>
        <ion-label>Messages</ion-label>
      </ion-item>
      <ion-item (click)="GoTo('inventory')">
        <ion-icon name="grid-outline" slot="start"></ion-icon>
        <ion-label>Inventory</ion-label>
      </ion-item>
      <ion-item (click)="GoTo('settings')">
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Inventory</ion-title>
      <span style="float: right; margin-right: 3%;" (click)="api.reloadPage()">&#x21bb;</span>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <!-- <h2 style="text-align: center;">Inventory</h2> -->

    <div *ngFor="let all of inventory.inventory" class="Items">
      <!-- <input type="radio" name="id">{{all.id}}</td> -->
      <button (click)="deleteItem(all.id)" style="float: right; margin-top: 1%;">&times;</button>
      <div style="text-align: center; margin-top: 30%; font-size: 20px;">
        {{all.name}}
      </div>
      <!-- <div></div>{{all.itemType}} -->

    </div>
    <!-- </table> -->
    <!-- <div *ngFor="let all of inventory">
      <input type="radio"> Name: {{all.name}}
      Type: {{all.itemType}} <br>
    </div> -->
    <div style="clear: both;" class="InventoryForm">
      <h3 style=" text-align: center; ">Add new Item</h3>
      <form #addItem="ngForm" (submit)="addItemToInventory(addItem)">
        <p style=" text-align: center;">
          <label for="float-input" style="margin-right: 13%;">Naam</label>
          <input type="text" pInputText class="p-inputtext-lg" id="float-input" name="naam" style="color: #000;"
            required ngModel><br>
        </p>
        <p style=" text-align: center;">
          <label for="float-input" style="margin-right: 5%;">Item Type</label>
          <input type="text" pInputText class="p-inputtext-lg" id="float-input" name="itemType" style="color: #000;"
            required ngModel>
        </p>
        <ion-button type="submit" style="margin-left: 30%;">Add Item</ion-button>
      </form>
    </div>

    <ion-fab slot="fixed" vertical="bottom" horizontal="start">
      <ion-fab-button size="larger" color="light" (click)="GoTo('game-screen')">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ion-content>
