<ion-header>
  <ion-toolbar>
    <ion-title>Inventory</ion-title>
    <ion-buttons slot="start" *ngIf="inInventory;">
      <ion-back-button defaultHref="" (click)="goToMapscreen()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="text-align: center;">Inventory</h2>
  <!-- <table class="InventoryTable"> -->
  <!-- <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Item Type</th>
    </tr> -->
  <div *ngFor="let all of inventory" class="Items">
    <!-- <input type="radio" name="id">{{all.id}}</td> -->
    <button (click)="deleteItem(all.id)" style="float: right; margin-top: 1%;">&times;</button>
    <div style="text-align: center; margin-top: 30%; font-size: 20px;">
      {{all.name}}
    </div>
    <!-- <div></div>{{all.itemType}} -->

  </div>
  <!-- </table> -->
  <!-- <div *ngFor="let all of inventory">
      <input type="radio"> Name: {{all.name}}
      Type: {{all.itemType}} <br>
    </div> -->
  <div style="clear: both;">
    <p style=" text-align: center; ">Add new Item</p>
    <form #addItem="ngForm" (submit)="addItemToInventory(addItem)">
      <span>
        <label for="float-input" style="margin-right: 13%;">Naam</label>
        <input type="text" pInputText class="p-inputtext-lg" id="float-input" name="naam" required ngModel><br>
      </span>
      <span>
        <label for="float-input" style="margin-right: 5%;">Item Type</label>
        <input type="text" pInputText class="p-inputtext-lg" id="float-input" name="itemType" required ngModel>
      </span>
      <ion-button type="submit" style="margin-left: 40%;">Add Item</ion-button>
    </form>
  </div>


</ion-content>
