<ion-header>
  <ion-toolbar>
    <ion-title>Inventory</ion-title>
    <ion-buttons slot="start" *ngIf="inInventory;">
      <ion-back-button defaultHref="" (click)="goToMapscreen()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <h2 style="text-align: center;">Inventory</h2> -->

  <div *ngFor="let all of inventory" class="Items">
    <!-- <input type="radio" name="id">{{all.id}}</td> -->
    <button (click)="deleteItem(all.id)" style="float: right; margin-top: 1%;">&times;</button>
    <div style="text-align: center; margin-top: 30%; font-size: 20px;">
      {{all.name}}
    </div>
    <!-- <div></div>{{all.itemType}} -->

  </div>
  <!-- </table> -->
  <!-- <div *ngFor="let all of inventory">
      <input type="radio"> Name: {{all.name}}
      Type: {{all.itemType}} <br>
    </div> -->
  <div style="clear: both;" class="InventoryForm">
    <h3 style=" text-align: center; ">Add new Item</h3>
    <form #addItem="ngForm" (submit)="addItemToInventory(addItem)">
      <p style=" text-align: center;">
        <label for="float-input" style="margin-right: 13%;">Naam</label>
        <input type="text" pInputText class="p-inputtext-lg" id="float-input" name="naam" style="color: #000;" required
          ngModel><br>
      </p>
      <p style=" text-align: center;">
        <label for="float-input" style="margin-right: 5%;">Item Type</label>
        <input type="text" pInputText class="p-inputtext-lg" id="float-input" name="itemType" style="color: #000;"
          required ngModel>
      </p>
      <ion-button type="submit" style="margin-left: 30%;">Add Item</ion-button>
    </form>
  </div>


</ion-content>
