<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="GoTo('map-screen')">
        <ion-icon name="map-outline" slot="start"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-item>
      <ion-item (click)="GoTo('friends')">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Friends</ion-label>
      </ion-item>
      <ion-item (click)="GoTo('teams')">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-label>Teams</ion-label>
      </ion-item>
      <ion-item (click)="GoTo('messages')">
        <ion-icon name="chatbubble-ellipses-outline" slot="start"></ion-icon>
        <ion-label>Messages</ion-label>
      </ion-item>
      <ion-item (click)="GoTo('inventory')">
        <ion-icon name="grid-outline" slot="start"></ion-icon>
        <ion-label>Inventory</ion-label>
      </ion-item>
      <ion-item (click)="GoTo('settings')">
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>CLI</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
  
    <ion-card disabled="false" class="outputcard">
      <ion-card-content>
        <ion-textarea readonly=true #commandoutput class="command-output" id="command-output" name="command-output">
          <!--</ion-card-content>>ionScroll)="HandleScroll(*event)" scroll-events="true"-->
          {{ cliOutput }}
        </ion-textarea>
      </ion-card-content>
      
    </ion-card>
    
    <ion-card disabled="false" class="inputcard">
      <ion-card-content>
        <ion-item class="cliInput" lines="none">
          <div style="width:30px"></div>
      <ion-input id="commandInput" name="commandInput" [(ngModel)]="commandInput" placeholder="Enter Input"
      (keyup.enter)="CommandInput()"></ion-input>
      
      <ion-select interface="popover">
        <ion-select-option value="run">Launch item</ion-select-option>
        <ion-select-option value="ls">List items</ion-select-option>
        <ion-select-option value="rm">Remove item</ion-select-option>
      </ion-select>
    </ion-item>
    </ion-card-content>
    </ion-card>


  <!-- Fixed Floating Action Button that does not scroll with the content -->


  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button size="larger" color="light" (click)="GoTo('map-screen')">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
