<ion-header>
  <ion-toolbar>
    <ion-title>cli</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="goToMapscreen()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="card-cli-wrapper">
    <ion-card disabled="false" class="card-cli" *ngIf="activeCLI">
      <ion-card-content>
        <ion-textarea readonly=true #commandoutput class="command-output" id="command-output" name="command-output">
          <!--</ion-card-content>>ionScroll)="HandleScroll(*event)" scroll-events="true"-->
          {{ cliOutput }}
        </ion-textarea>
      </ion-card-content>
      <ion-item>
      </ion-item>


      <ion-item class="cliInput">
        <div class="fabemptyspace"></div>
        <ion-input id="commandInput" name="commandInput" [(ngModel)]="commandInput" placeholder="Enter Input"
          (keyup.enter)="CommandInput()"></ion-input>
        <div *ngFor="let command of commands">
          <ion-button fill="outline">{{ command }}</ion-button>
        </div>
      </ion-item>
    </ion-card>
  </div>

  <!-- Fixed Floating Action Button that does not scroll with the content -->

  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button size="small" color="light" size="medium" (click)="toggleCLI()">
      <ng-template [ngIf]="activeCLI" [ngIfElse]="cliopen">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ng-template>

      <ng-template #cliopen>
        <ion-icon name="terminal-outline"></ion-icon>
      </ng-template>
    </ion-fab-button>
  </ion-fab>


</ion-content>
