#map {
  height: 100%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: blue;
}

.fa-terminal {
  color: white;
  border: 1px;
  border-radius: 30%;
  font-size: 30px;
  margin-left: 50%;
}

.sidenav .closebtn {
  position: absolute;
  top: 1;
  // float: right;
  right: 5px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.float {
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 40px;
  left: 45%;
  background-color: #0c9;
  color: #fff;
  border-radius: 70px;
  text-align: center;
  align-content: center;
  box-shadow: 2px 2px 3px #999;
  font-size: 40px;
}
.menu {
  position: fixed;
  width: 70px;
  height: 90px;
  top: 60px;
  left: 0px;
  background-color: rgba(15, 15, 15, 0.74);
  color: #fff;
  border-radius: 70px;
  text-align: center;
  align-content: center;
  font-size: 60px;
  box-shadow: 2px 2px 3px #999;
}

.my-float {
  margin-left: 12px;
}
.Timer {
  // margin-top: 90%;
  font-size: 20px;
}
