<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Cypher Game #1
    </ion-title>
    <ion-buttons slot="start" *ngIf="inMapScreen;">
      <ion-back-button defaultHref="" (click)="goToGamescreen()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <span id="mySidenav" class="sidenav">
    <a class="closebtn" (click)="closeNav()">&#9776;</a>
    <a (click)="renderPage('inventory')">Inventory</a>
    <a (click)="renderPage('messages')">Messages</a>
    <a (click)="renderPage('teams')">Teams</a>
    <a (click)="renderPage('settings')">Settings</a>
  </span>
</ion-header>

<ion-content>

  <div id="map" #map>
    <span style="margin-left: 30%; margin-top: 50%; color: black;">Loading please wait ...</span>
  </div>
  <a class="menu">
    <span class="posMenu" (click)="openNav()">&#9776;</span>
  </a>


  <!-- <a class="float"> -->
  <!-- <span (click)="openCLI()">>_</span> -->
  <!-- <input type="image" name="Name of image button" src="Path of the Image file? border=" Specfiy Image Border " alt="
      text"> -->
  <!-- <input type="image" src="../../assets/icon/person1.jpeg" height="50" width="30"
      style="margin-top:20%; background-color: green;" (click)="openCLI()"> -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button size="larger" color="light" (click)="openCLI()">
      <ion-icon name="terminal-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- </a> -->
</ion-content>
