<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> CYPHER LOGIN </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-text color="dark">
    <h2>Enter your Email and password to Login</h2></ion-text
  >
  <form>
    Email:
    <ion-item>
      <ion-input
        name="email"
        type="email"
        placeholder="your@email.com"
        ngModel
        required
      ></ion-input>
    </ion-item>
    Password:
    <ion-item>
      <ion-input
        name="password"
        type="password"
        placeholder="Password"
        ngModel
        required
      ></ion-input>
    </ion-item>
    <ion-button size="small" type="submit" style="align-items: center"
      >Log in</ion-button
    >
    <p>No account ? <a href=""> Click here to register</a></p>
  </form>
  <ion-button (click)="login()" size="small">Login With Google</ion-button>
</ion-content>
