<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="GoTo('game-screen')">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>
      <ion-item (click)="GoTo('lobbies')">
        <ion-icon name="people-circle-outline" slot="start"></ion-icon>
        <ion-label>Game Lobbies</ion-label>
      </ion-item>
      <ion-item (click)="GoTo('friends')">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Friends</ion-label>
      </ion-item>
      <ion-item (click)="GoTo('teams')">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-label>Teams</ion-label>
      </ion-item>
      <ion-item (click)="GoTo('messages')">
        <ion-icon name="chatbubble-ellipses-outline" slot="start"></ion-icon>
        <ion-label>Messages</ion-label>
      </ion-item>
      <ion-item (click)="GoTo('inventory')">
        <ion-icon name="grid-outline" slot="start"></ion-icon>
        <ion-label>Inventory</ion-label>
      </ion-item>
      <ion-item (click)="GoTo('settings')">
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Friends</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div *ngFor="let all of friends;let i = index" class="Friends">
      <div *ngIf="i===0">
        <img src="./assets/icon/person1.jpeg" alt="Italian Trulli">
      </div>
      <div *ngIf="i===1">
        <img src='./assets/icon/person2.jpeg' alt="Italian Trulli">
      </div>
      <div *ngIf="i===2">
        <img src='./assets/icon/person3.jpeg' alt="Italian Trulli">
      </div>
      <div *ngIf="i>2">
        <img [src]="imageUrl" alt="Italian Trulli">
      </div>
      <li style="color: black; font-size: 20px;">{{all.name}} <button (click)="deleteFriend(all.id)"
          style="color: red; border-radius: 50%; border: 1px solid; width: 40px;height: 40px;"> &times;</button></li>
    </div>
    <input type="text" placeholder="Search for players to Add " style="width: 90%; margin: 3%; color: #000;" required
      [(ngModel)]="playername" (ngModelChange)="search(playername)">
    <div *ngFor="let all of playerSearchResults">
      <span *ngIf="playername">
        <span *ngIf="playername !== loginservice.displayName">
          <span *ngIf="friends.length===0">
            <span style="font-size: 20px; margin-left: 30%; color: #000;">{{all.name}}
            </span>
            <ion-button size="small" (click)="addFriend(all.id)" color="primary">Add Friend
            </ion-button>
          </span>
          <span *ngFor="let fr of friends">
            <span *ngIf="playername !== fr.name">
              <span style="font-size: 30px; margin-left: 30%; color: #000;">{{all.name}}
              </span>
              <ion-button size="small" (click)="addFriend(all.id)" color="primary">Add Friend
              </ion-button>
            </span>
          </span>
        </span>
      </span>
    </div>
    <ion-fab slot="fixed" vertical="bottom" horizontal="start">
      <ion-fab-button size="larger" color="light" (click)="GoTo('game-screen')">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</div>
