p {
  color: black;
}
img {
  border-radius: 70%;
  height: 90px;
  width: 90px;
}
li {
  list-style-type: none;
}
.Friends {
  float: left;
  padding: 10px;
  // margin: 2%;
  align-items: center;
}
