@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid">
    <div>
        <img src="~/images/logo-transparent.png" style="display: block; margin-left: auto; margin-right: auto; width: 200px; height:200px;" />
    </div>
    <br />
    <h2 class="text-center display-4">Welcome</h2>
    <div class="row" style="justify-content:center; font-size:medium">
        <div class="text-center">Cypher is een framework voor puzzel gebaseerde stadspelen dat zich zou afspelen over een bepaalde tijd en over een groot gebied van een stad. </div>
        <br />
        <div class="text-center">Het spel zou op 1 dag gespeeld kunnen worden of zich over een paar maanden kunnen afspelen. </div>
        <br />
    </div>
    <div class="container z-depth-1" style=" margin-top: 30px;">
        <section class="p-md-3 mx-md-5">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-12">
                    <h2 class="mb-3">Introductie</h2>
                    <p class="text-muted pt-3">
                        Cypher als project zou een framework bevatten waar een "game master" groepen kan inschrijven voor een city game. De "game master" kan dan uit een lijst van puzzels kiezen, kan kiezen wanneer deze puzzels moeten worden uitgevoerd en waar ze moeten worden uitgevoerd. Hier zijn natuurlijk ook spelregels aan gebonden, dit hoort dan bij de puzzel dat gekozen was. Zo kan er makkelijk een city game worden opgezet.
                    </p>
                    <p class="text-muted pt-3">
                        Echter het framework zal enkel de barebone basis zijn. Het MVP is dan een framework, waarmee je een city game kunt opstellen en starten en een voorgeprogrammeerde city game om te spelen.
                    </p>

                    <p class="text-muted pt-3">
                        In de sidebar vind je enkele zaken die je kan instellen. Zo kan je een speler aanmaken en een lobby aanmaken. Om spelers toe te voegen in een lobby dien je eerst een lobby aan te maken. Vervolgens klik je op <i>Actions</i> en op <i>Edit</i>.
                    </p>
                </div>
            </div>
            <h2 class="mb-3">De puzzels</h2>
            <div class="row pt-3">
                <div class="col-lg-3 col-md-6 mb-5">
                    <h5 class="mb-3">
                        <i class="fas fa-bolt indigo-text pr-2"></i> The Flash
                    </h5>
                    <p class="text-muted mb-lg-0">
                        In dit spel moet de speler <b>zo snel mogelijk</b> naar een locatie gaan om credits te scoren. Je speelt hier tegen de <b>'GHOST'</b>.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <h5 class="mb-3">
                        <i class="fas fa-map-marker-alt green-text pr-2"></i> Tourist
                    </h5>
                    <p class="text-muted mb-lg-0">
                        In dit spel moet de speler naar 2 <b>locaties</b> gaan waar hij/zij vragen over die <b>locatie</b> kan beantwoorden. Het spel kan pas gestart worden wanneer de speler zich op 1 van de gemarkeerde locaties bevindt.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <h5 class="mb-3">
                        <i class="fas fa-ghost amber-text pr-2"></i> Cybercron
                    </h5>
                    <p class="text-muted mb-md-0">
                        Hier moet de speler weglopen van de <b>'GHOST'</b>. Wanneer de <b>'GHOST'</b> dichtbij komt zal de speler gewaarschuwd worden. Als de <b>'GHOST'</b> de speler te pakken krijgt zal hij een item van de speler in zijn inventory stelen. Dit spel is een Demo Game waar de speler leert hoe de map werkt met random gemarkeerde locaties op de map en hoe de <b>'GHOST'</b> eruit ziet en functioneert.
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <h5 class="mb-3">
                        <i class="fas fa-terminal red-text pr-2"></i> CLI
                    </h5>
                    <p class="text-muted mb-md-0">
                        Een tekst-based rpg puzzel, waarmee je met een prompt antwoorden moet ingeven. Dit bestaat dan uit een kort verhaaltje dat door de game master kan worden ingesteld, met gepaste antwoorden. Wij voorzien een template.
                    </p>
                </div>
            </div>
            @*<div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-12">
                    <h2 class="mb-3">Documentation</h2>
                    <p class="text-muted pt-3">
                        Coming Soon. New Articles and Tutorials will be posted on my <a href="https://www.codewithmukesh.com">blog.</a>
                    </p>
                </div>
            </div>
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-12">
                    <h2 class="mb-3">Support</h2>
                    <p class="text-muted pt-3">
                        Has this Project helped you learn something New? or Helped you at work? Do Consider Supporting. Here are a few ways by which you can support.
                    </p>
                    <ul>
                        <li>Leave a star! - <a href="https://github.com/aspnetcorehero/Boilerplate">Repository</a> </li>
                        <li>Recommend this awesome project to your colleages.</li>
                        <li>Do consider endorsing me on LinkedIn for ASP.NET Core - <a href="https://www.linkedin.com/in/iammukeshm/"> Connect via LinkedIn</a></li>
                        <li>Or, If you want to support this project on the long run, consider buying me a coffee.</li>
                    </ul>
                    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="codewithmukesh" data-color="#FFDD00" data-emoji="" data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff"></script>
                </div>
            </div>*@
        </section>
    </div>
</div>