<ion-header>
  <ion-toolbar>
    <ion-title>Worm In The System</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="goToMapscreen()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>In further Development</ion-card-subtitle>
      <ion-card-title>Work In progress</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      In this minigame the player will play as a worm to grab data neccesary, becoming longer in the progress while avoiding obstacles. If long enough the player will be able to enter the server or next dificulty.
    </ion-card-content>

  </ion-card>
</ion-content>
