<ion-header>
  <ion-toolbar>
    <ion-title>GameScreen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loginservice.isLoggedIn">
    <h1>Welcome, {{loginservice.displayName}}!</h1>
    <p>
      <span *ngIf="loginservice.email">Email: {{loginservice.email}}</span><br />
      <span *ngIf="loginservice.familyName">Family Name: {{loginservice.familyName}}</span><br />
      <span *ngIf="loginservice.givenName">Given Name: {{loginservice.givenName}}</span><br />
      <span *ngIf="loginservice.userId">User ID: {{loginservice.userId}}</span>
    </p>
    <p *ngIf="loginservice.imageUrl">
      <ion-avatar item-left>
        <img src="{{loginservice.imageUrl}}" />
      </ion-avatar>
    </p>


    <div *ngIf="players">
      <!-- <div *ngFor="let all of players.data">
        {{players.data[0].name}}
        {{all.name}}

      </div> -->

      {{getUserItems()}}
      <div *ngFor="let all of inventory">
        <li>Name:{{all.name}}</li>
        <li>Type:{{all.itemType}}</li>
      </div>

    </div>
    <button ion-button color="light" (click)="loginservice.logout()">
      Log Out
    </button>
  </div>
</ion-content>
