<ion-header>
  <ion-toolbar>
    <ion-title>GameScreen</ion-title>
  </ion-toolbar>
  <span id="mySidenav" class="sidenav">
    <a class="closebtn" (click)="closeNav()">&times;</a>
    <a (click)="renderPage('inventory')">Inventory</a>
    <a (click)="renderPage('friends')">Friends</a>
    <a (click)="renderPage('lobby')">Lobby</a>
    <a (click)="renderPage('messages')">Messages</a>
  </span>
</ion-header>
<ion-content>

  <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>
  <div *ngIf="loginservice.isLoggedIn">

    <h1>Welcome, {{loginservice.displayName}}!</h1>
    <p>
      <span *ngIf="loginservice.email">Email: {{loginservice.email}}</span><br />
      <span *ngIf="loginservice.familyName">Family Name: {{loginservice.familyName}}</span><br />
      <span *ngIf="loginservice.givenName">Given Name: {{loginservice.givenName}}</span><br />
      <span *ngIf="loginservice.userId">User ID: {{loginservice.userId}}</span>
    </p>
    <p *ngIf="loginservice.imageUrl">
      <ion-avatar item-left>
        <img src="{{loginservice.imageUrl}}" />
      </ion-avatar>
    </p>


    <div *ngIf="players">
      <!-- <div *ngFor="let all of players.data">
        {{players.data[0].name}}
        {{all.name}}

      </div> -->

      {{getUserItems()}}
      <div *ngIf="showPage === 'inventory'">
        <div *ngFor="let all of inventory">
          <li>Name:{{all.name}}</li>
          <li>Type:{{all.itemType}}</li>
        </div>
        <form #addItem="ngForm" (submit)="addItemToInventory(addItem)">
          <span class="p-float-label" style="margin-top: 5%;">
            <input type="text" pInputText class="p-inputtext-lg" id="float-input" name="naam" required ngModel>
            <label for="float-input">Naam</label>
          </span>
          <span class="p-float-label" style="margin-top: 5%;">
            <input type="text" pInputText class="p-inputtext-lg" id="float-input" name="itemType" required ngModel>
            <label for="float-input">Type</label>
          </span>
          <ion-button type="submit">Add Item</ion-button>
        </form>

      </div>
      <div *ngIf="showPage === 'friends'">


        <!-- <div *ngFor="let all of inventory">
          <li>Name:{{all.name}}</li>
          <li>Type:{{all.itemType}}</li>
        </div> -->
        <p>Friends</p>
      </div>
      <div *ngIf="showPage === 'lobby'">


        <!-- <div *ngFor="let all of inventory">
          <li>Name:{{all.name}}</li>
          <li>Type:{{all.itemType}}</li>
        </div> -->
        <p>Lobby</p>
      </div>
      <div *ngIf="showPage === 'messages'">


        <!-- <div *ngFor="let all of inventory">
          <li>Name:{{all.name}}</li>
          <li>Type:{{all.itemType}}</li>
        </div> -->
        <p>Messages</p>
      </div>

    </div>
    <button ion-button color="light" (click)="loginservice.logout()">
      Log Out
    </button>
  </div>
</ion-content>
