ionic-content {
  font-family: "Lato", sans-serif;
  --ion-background-color: #33923b;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: blue;
}

.sidenav .closebtn {
  position: absolute;
  top: 1;
  // float: right;
  right: 5px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  text-align: center;
  margin: 5%;
  color: #111;
}

td,
th {
  border: 1px solid #413f3fb6;
  text-align: left;
  padding: 8px;
}

.InventoryTable tr:nth-child(even) {
  background-color: #8aa2e4;
}
p {
  color: black;
}
img {
  border-radius: 70%;
  height: 90px;
  width: 90px;
}
li {
  list-style-type: none;
}
.Friends {
  float: left;
  padding: 10px;
  // margin: 2%;
  align-items: center;
}
